.chat-input-action {
  width: var(--icon-width);
  transition: width ease 0.3s;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    transition: width ease 0.3s;
    width: var(--full-width);

    .text {
      opacity: 1;
      transform: translate(0);
    }
  }

}