.chat-input-action {
  width: var(--icon-width);

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    width: var(--full-width);

    .text {
      opacity: 1;
      transform: translate(0);
    }
  }

}