.sidebar-drag {
  background-color: rgba($color: #000000, $alpha: 0);
  cursor: ew-resize;

  .icon {
    opacity: 0;
  }

  &:hover {
    .icon {
      opacity: 1;
    }
  }
}


.sidebar {

  width: var(--sidebar-width);
}