@mixin home-card-enter {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

@mixin home-card1-enter-active {
  opacity: 1;
  transform: translateZ(0);
  transition: all ease 1s;
}


.home-card1-enter {
  @include home-card-enter;
}

.home-card1-enter-active {
  @include home-card1-enter-active
}

.home-card2-enter {
  @include home-card-enter;
}

.home-card2-enter-active {
  @include home-card1-enter-active;
  transition-delay: 0.155s;
}


.home-card3-enter {
  @include home-card-enter;
}

.home-card3-enter-active {
  @include home-card1-enter-active;
  transition-delay: 0.31s;
}

.ppt-animate-enter {
  opacity: 0;
  transform: translateY(50%);
}

.ppt-animate-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease;
}