::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0  0 6px rgba(0,0, 0,0);
  border-color: #ccc;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0  0 6px rgba(0,0, 0,0);
  background-color: #a3a6a9;
  border-radius: 10px;
}


:root {
  --sidebar-width: 300px;
}

li {
  list-style: none;
}

.da {
  color:#1b7f93;
}
.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div {
  unicode-bidi: isolate;
}