.outline-suffix {
  visibility: hidden;
}

.outline-input {
  :global(.ant-input):focus {
    .outline-suffix {
      visibility: visible !important;
    }
  }
  :global(.ant-input):hover {
    .outline-suffix {
      visibility: visible !important;
    }
  }
}


